/*! LibreVideoPlayer v1.0 | Code under MIT License | Copyright (c) Ajabep */


$gaugeHeight: 4px !default;
@import '../lib/gauge/gauge';
@import 'lvpIcons';



$gaugeHeightHover: 7px !default;
$heightControlBar: 50px !default;
$backgroundLVP: #000 !default;
$transitionControlBar: .2s ease !default;
$delayNotHover: 0s !default;
$backgroundProgressBar: #444 !default;
$backgroundIntermediateProgressBar: #777 !default;
$backgroundFinalProgressBar: #CC181E !default;
$widthVolumeGauge: 50px !default;
$style: default !default;
$styleAvailable: (default paralax);

@if index($styleAvailable, $style) == null {
	$style: default;
}



%gaugeHover {
	&,
	div {
		height: $gaugeHeightHover;
	}
}
%gaugeNormal {
	&,
	div {
		height: $gaugeHeight;
	}
}

.lvpPlayer {
	
	$colorControlBar: #000;
	@if ( ( ( red($backgroundLVP) * .299 ) + ( green($backgroundLVP) * .587 ) + ( blue($backgroundLVP) * .114 ) ) < 125) { // expression find in the W3C's site
		$colorControlBar: #fff;
	}
	
	font-family: Helvetica, Arial, sans-serif;
	overflow: hidden;
	position: relative;
	background: $backgroundLVP;
	user-select: none;
	
	
	&,
	button {
		color: $colorControlBar;
	}
	
	video {
		max-height: 100%;
		width: 100%;
		margin-bottom: $gaugeHeight;
		display: block;
	}
	
	.controls {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: $heightControlBar;
		background: $backgroundLVP;
		transition: $transitionControlBar;
		
		div,
		button {
			display: inline;
			background: transparent;
			border: none;
		}
		
		.playerState {
			display: none;
            @media aural, speech {
                speak: normal;
            }
		}
		
		.playPauseBtn,
		.volumeBtn,
		.fullscreenBtn {
			height: $heightControlBar;
			width: $heightControlBar;
			@extend %fvpIcons;
		}
		
		
		.timeCounter,
		.volumeGrp {
			height: $heightControlBar;
			line-height: $heightControlBar;
			display: inline-block;
		}
		
		.volumeGrp {
			width: $heightControlBar + $widthVolumeGauge;
		}
		
		
		
		// To have a enough selector weight
		.volumeGauge {
			background: $backgroundIntermediateProgressBar;
			width: $widthVolumeGauge;
			display: inline-block;

			div {
				background: $backgroundFinalProgressBar;
			}
		}
		
	}
	
	
	video,
	button,
	.gauge {
		cursor: pointer;
	}
	&.playing {
		video {
			cursor: auto;
		}
	}
	
	
	.gauge {
		&,
		div {
			transition: height $transitionControlBar;
		}
	}
	
	.volumeGrp {
		&:hover {
			.gauge {
					@extend %gaugeHover;
			}
		}
	}
	
	
	.progressBar {
		@extend %gaugeHover;
		z-index: 1;
		position: absolute;
		bottom: $heightControlBar;
		
		&,
		div {
			transition: opacity $transitionControlBar, bottom $transitionControlBar, height $transitionControlBar;
		}
		
		background: $backgroundProgressBar;
		
		
		div:first-child {
			background: $backgroundIntermediateProgressBar;
		}
		
		div:last-child {
			background: $backgroundFinalProgressBar;
		}
	}
	
	
	.fullscreenBtn {
		float: right;
	}
	
	
	// icons
	
	.fullscreenBtn::before {
		@extend %iconFullscreenEnter;
	}
	&.fullscreen, // compatibility
	&:fullscreen {
		
		float: none;
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
		border: 0 none;
		 	
		.fullscreenBtn::before {
			@extend %iconFullscreenExit;
		}
	}
	
	.playPauseBtn::before {
		@extend %iconMediaPlay;
	}
	
	.volumeBtn::before {
		@extend %iconVolumeHigh;
	}
	&.lowVolume {
		.volumeBtn::before {
			@extend %iconVolumeLow;
		}
	}
	&.mute {
		.volumeBtn::before {
			@extend %iconVolumeMute;
		}
	}
	
	
	
	// when it's playing

	&.playing {
		
		// we show the pause btn and we hide the play btn
		.playPauseBtn::before {
		  @extend %iconMediaPause;
		}
		
		
		// to delay the hiding of the ctrl bar
		.controls,
		.progressBar,
		.progressBar div {
			transition: opacity $transitionControlBar $delayNotHover, bottom $transitionControlBar $delayNotHover, height $transitionControlBar $delayNotHover;
		}
		
		
		// When we want to see the ctrl bar
		&:hover,
		&.requestingNewValue {
			
			.controls {
				bottom: 0;
				opacity: 1;
			}

			.progressBar {
				bottom: $heightControlBar;
				@extend %gaugeHover;
			}
		}
		
		
		// When we want to hide the ctrl bar
		&,
		&.hideControlBar:not(.requestingNewValue) {
			.controls {
				@if $style == paralax {
					bottom: -$heightControlBar / 3;
					opacity: 0;
				}
				@else {
					bottom: -$heightControlBar;
				}
			}

			.progressBar {
				bottom: 0;
				@extend %gaugeNormal;
			}
		}
		
		&.hideControlBar:not(.requestingNewValue) {
			&,
			video {
				cursor: none;
			}
			.controls,
			.progressBar {
				transition: $transitionControlBar;
			}
		}
	}
	
}


// To catch the key events on the video
#LVPKeyCatcher {
	/* to have the focus available, we don't use display:none or visibility:hidden ^^ */

	/* to have the possibility to format the box */
	display: block;

	/* to haven't a scroll we it's focus */
	position: fixed;
	top: 0;
	left: 0;

	/* to hide it */
	height: 0;
	width: 0;
	padding: 0;
	border: 0;
	margin: 0;
	outline: none;
	opacity: 0;

	/* aural CSS */
    @media aural, speech {
        speak: none;
    }
}





