$pathToFonts: '../fonts/' !default;


@font-face {
	font-family: 'lvpIcons';
	src:url($pathToFonts + 'lvpIcons.eot?-4adaz8');
	src:url($pathToFonts + 'lvpIcons.eot?#iefix-4adaz8') format('embedded-opentype'),
		url($pathToFonts + 'lvpIcons.woff?-4adaz8') format('woff'),
		url($pathToFonts + 'lvpIcons.ttf?-4adaz8') format('truetype'),
		url($pathToFonts + 'lvpIcons.svg?-4adaz8#lvpIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

%fvpIcons {
	font-family: 'lvpIcons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}




%iconPlaySign {
	content: "\e600";
}

%iconFullscreenEnter {
	content: "\46";
}

%iconFullscreenExit {
	content: "\e606";
}

%iconMediaPause {
	content: "\1c1";
}

%iconMediaPlay {
	content: "\25b6";
}

%iconVolumeHigh {
	content: "\e609";
}

%iconVolumeLow {
	content: "\e60a";
}

%iconVolumeMute {
	content: "\4d";
}

