/*! LibreVideoPlayer v1.0 | Code under MIT License | Copyright (c) Ajabep */
/*! Gauge v1.0 | Code under MIT License | Copyright (c) Ajabep */
.gauge {
  position: relative;
  overflow: hidden;
  background: transparent;
  height: 4px;
  width: 100%;
}
.gauge div {
  height: 4px;
  width: 0%;
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}

@font-face {
  font-family: 'lvpIcons';
  src: url("../fonts/lvpIcons.eot?-4adaz8");
  src: url("../fonts/lvpIcons.eot?#iefix-4adaz8") format("embedded-opentype"), url("../fonts/lvpIcons.woff?-4adaz8") format("woff"), url("../fonts/lvpIcons.ttf?-4adaz8") format("truetype"), url("../fonts/lvpIcons.svg?-4adaz8#lvpIcons") format("svg");
  font-weight: normal;
  font-style: normal;
}
.lvpPlayer .controls .playPauseBtn,
.lvpPlayer .controls .volumeBtn,
.lvpPlayer .controls .fullscreenBtn {
  font-family: 'lvpIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lvpPlayer .fullscreenBtn::before {
  content: "\46";
}

.lvpPlayer.fullscreen .fullscreenBtn::before, .lvpPlayer:-webkit-full-screen .fullscreenBtn::before {
  content: "\e606";
}

.lvpPlayer.fullscreen .fullscreenBtn::before, .lvpPlayer:-moz-full-screen .fullscreenBtn::before {
  content: "\e606";
}

.lvpPlayer.fullscreen .fullscreenBtn::before, .lvpPlayer:-ms-fullscreen .fullscreenBtn::before {
  content: "\e606";
}

.lvpPlayer.fullscreen .fullscreenBtn::before, .lvpPlayer:fullscreen .fullscreenBtn::before {
  content: "\e606";
}

.lvpPlayer.playing .playPauseBtn::before {
  content: "\1c1";
}

.lvpPlayer .playPauseBtn::before {
  content: "\25b6";
}

.lvpPlayer .volumeBtn::before {
  content: "\e609";
}

.lvpPlayer.lowVolume .volumeBtn::before {
  content: "\e60a";
}

.lvpPlayer.mute .volumeBtn::before {
  content: "\4d";
}

.lvpPlayer .volumeGrp:hover .gauge, .lvpPlayer .progressBar, .lvpPlayer.playing:hover .progressBar, .lvpPlayer.playing.requestingNewValue .progressBar,
.lvpPlayer .volumeGrp:hover .gauge div,
.lvpPlayer .progressBar div,
.lvpPlayer.playing:hover .progressBar div,
.lvpPlayer.playing.requestingNewValue .progressBar div {
  height: 7px;
}

.lvpPlayer.playing .progressBar, .lvpPlayer.playing.hideControlBar:not(.requestingNewValue) .progressBar,
.lvpPlayer.playing .progressBar div,
.lvpPlayer.playing.hideControlBar:not(.requestingNewValue) .progressBar div {
  height: 4px;
}

.lvpPlayer {
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden;
  position: relative;
  background: #000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.lvpPlayer,
.lvpPlayer button {
  color: #fff;
}
.lvpPlayer video {
  max-height: 100%;
  width: 100%;
  margin-bottom: 4px;
  display: block;
}
.lvpPlayer .controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background: #000;
  -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
}
.lvpPlayer .controls div,
.lvpPlayer .controls button {
  display: inline;
  background: transparent;
  border: none;
}
.lvpPlayer .controls .playerState {
  display: none;
}
@media aural, speech {
  .lvpPlayer .controls .playerState {
    speak: normal;
  }
}
.lvpPlayer .controls .playPauseBtn,
.lvpPlayer .controls .volumeBtn,
.lvpPlayer .controls .fullscreenBtn {
  height: 50px;
  width: 50px;
}
.lvpPlayer .controls .timeCounter,
.lvpPlayer .controls .volumeGrp {
  height: 50px;
  line-height: 50px;
  display: inline-block;
}
.lvpPlayer .controls .volumeGrp {
  width: 100px;
}
.lvpPlayer .controls .volumeGauge {
  background: #777;
  width: 50px;
  display: inline-block;
}
.lvpPlayer .controls .volumeGauge div {
  background: #CC181E;
}
.lvpPlayer video,
.lvpPlayer button,
.lvpPlayer .gauge {
  cursor: pointer;
}
.lvpPlayer.playing video {
  cursor: auto;
}
.lvpPlayer .gauge,
.lvpPlayer .gauge div {
  -webkit-transition: height 0.2s ease;
          transition: height 0.2s ease;
}
.lvpPlayer .progressBar {
  z-index: 1;
  position: absolute;
  bottom: 50px;
  background: #444;
}
.lvpPlayer .progressBar,
.lvpPlayer .progressBar div {
  -webkit-transition: opacity 0.2s ease, bottom 0.2s ease, height 0.2s ease;
          transition: opacity 0.2s ease, bottom 0.2s ease, height 0.2s ease;
}
.lvpPlayer .progressBar div:first-child {
  background: #777;
}
.lvpPlayer .progressBar div:last-child {
  background: #CC181E;
}
.lvpPlayer .fullscreenBtn {
  float: right;
}
.lvpPlayer.fullscreen, .lvpPlayer:-webkit-full-screen {
  float: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0 none;
}
.lvpPlayer.fullscreen, .lvpPlayer:-moz-full-screen {
  float: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0 none;
}
.lvpPlayer.fullscreen, .lvpPlayer:-ms-fullscreen {
  float: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0 none;
}
.lvpPlayer.fullscreen, .lvpPlayer:fullscreen {
  float: none;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0 none;
}
.lvpPlayer.playing .controls,
.lvpPlayer.playing .progressBar,
.lvpPlayer.playing .progressBar div {
  -webkit-transition: opacity 0.2s ease 0s, bottom 0.2s ease 0s, height 0.2s ease 0s;
          transition: opacity 0.2s ease 0s, bottom 0.2s ease 0s, height 0.2s ease 0s;
}
.lvpPlayer.playing:hover .controls, .lvpPlayer.playing.requestingNewValue .controls {
  bottom: 0;
  opacity: 1;
}
.lvpPlayer.playing:hover .progressBar, .lvpPlayer.playing.requestingNewValue .progressBar {
  bottom: 50px;
}
.lvpPlayer.playing .controls, .lvpPlayer.playing.hideControlBar:not(.requestingNewValue) .controls {
  bottom: -50px;
}
.lvpPlayer.playing .progressBar, .lvpPlayer.playing.hideControlBar:not(.requestingNewValue) .progressBar {
  bottom: 0;
}
.lvpPlayer.playing.hideControlBar:not(.requestingNewValue),
.lvpPlayer.playing.hideControlBar:not(.requestingNewValue) video {
  cursor: none;
}
.lvpPlayer.playing.hideControlBar:not(.requestingNewValue) .controls,
.lvpPlayer.playing.hideControlBar:not(.requestingNewValue) .progressBar {
  -webkit-transition: 0.2s ease;
          transition: 0.2s ease;
}

#LVPKeyCatcher {
  /* to have the focus available, we don't use display:none or visibility:hidden ^^ */
  /* to have the possibility to format the box */
  display: block;
  /* to haven't a scroll we it's focus */
  position: fixed;
  top: 0;
  left: 0;
  /* to hide it */
  height: 0;
  width: 0;
  padding: 0;
  border: 0;
  margin: 0;
  outline: none;
  opacity: 0
  /* aural CSS */
}
@media aural, speech {
  #LVPKeyCatcher {
    speak: none;
  }
}

/*# sourceMappingURL=LibreVideoPlayerDefault.css.map */